.all {
  background-color: #131921;
  position: sticky;
  top: 0;
  z-index: 100;
}

.header {
  height: 70px;
  display: flex;
  align-items: center;
  background-color: #131921;
  padding: 0 15px;
  color: white;
}

.header__logo {
  width: 110px;
  object-fit: contain;
  margin-right: 20px;
  margin-top: 10px;
}

.header__search {
  display: flex;
  flex: 1;
  align-items: center;
  margin-left: 10px;
  border-radius: 4px;
  overflow: hidden;
}

.items_lists {
  height: 36px;
  background-color: #e6e6e6;
  border: none;
  padding: 5px;
  font-size: 16px;
}

.header__searchInput {
  height: 36px;
  padding: 0 10px;
  border: none;
  width: 100%;
  font-size: 14px;
}

.header__searchIcon {
  background-color: #febd69;
  padding: 6px;
  height: 36px !important;
  color: black;
  cursor: pointer;
}

.header__nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
  margin-left: 20px;
}

.header__option {
  display: flex;
  flex-direction: column;
  margin: 0 10px;
  cursor: pointer;
  color: white;
  text-align: left;
}

.header__option:hover {
  text-decoration: underline;
}

.header__optionLineOne {
  font-size: 12px;
}

.header__optionLineTwo {
  font-size: 14px;
  font-weight: 700;
}

.header__optionBasket {
  display: flex;
  align-items: center;
  color: white;
  margin-left: 15px;
  cursor: pointer;
}

.header__basketCount {
  margin-left: 8px;
  font-weight: bold;
  color: #febd69;
}
