.nav {
    margin: 0 20px;
    width: 100%;
    background-color: #363333;
    padding: 8px 0;
  }
  
  .nav__listing {
    width: 100%;
    background-color: #363333;
    position: relative;
  }
  
  .nav__listing ul {
    height: 40px;
    width: 100%;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 15px; /* Increased from 81% to 15px */
    font-weight: 500;
    color: white;
    padding: 0 10px;
    margin: 0;
  }
  
  .Navlist ul {
    width: 50%;
  }
  
  .Navlist a {
    color: rgb(251, 243, 243);
    font-weight: 500;
    text-decoration: none;
    padding: 10px;
    font-size: 18px; /* Bigger */
    display: inline-block;
  }
  
  .Navlist a:hover {
    opacity: 0.8;
    text-decoration: underline;
  }
  